
body {
    text-align: center;
    margin: 0;
    background-color: black;
}

button {
    border: none;
    outline: none;
    cursor: pointer;    
}

.game {
    display: flex; /***/
    align-items: center;  
    flex-direction: column;
    background: url(img/background.png) center/cover;
    width: 800px;
    height: 500px;
    margin: auto;   
    border-radius: 20px;

}

.game__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


.game__button {
    width: 60px;
    height: 60px;
    background-color: bisque;
    border: 4px solid black;
    font-size: 24px;
    transition: transform 300ms ease;
}

.game__button:hover {
    transform: scale(1.1);
}

.game__timer {
    width: 100px;
    background-color: white;
    text-align: center;
    font-size: 32px;
    border: 5px solid black;
    margin-top: 8px;
    border-radius: 10px;
    visibility: hidden;
    user-select: none;
    cursor: auto;
}

.game__score {
    width: 50px;    
    height: 50px;
    background-color:teal;
    text-align: center;
    border-radius: 50%;
    border: 3px solid black;
    font-size: 38px;
    color: white;
    margin-top:8px;
    visibility: hidden;
    user-select: none;
    cursor: auto;
}

.game__field {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 40px;
    
}

.pop-up {
    display: block;
    width: 400px;
    height: 120px;
    padding: 20px;  
    background-color: rgba(0, 0, 0, 0.692);
    color: white;
    text-align: center;
    margin: auto;
    transform: translateY(-150%);
    border-radius: 20px;

}

.pop-up--hide {
    display: none;
}

.pop-up__refresh {
    width: 60px;
    height: 60px;
    font-size: 24px;
    background-color: rgb(26, 104, 7);
    border: 2px solid black;
    border-radius: 50%;
}

.pop-up__message {
    display: block;
    font-size: 38px;
}

.carrot, 
.bug {
    transition: all 100ms ease-in;
}

.carrot:hover,
.bug:hover {
    transform: scale(1.1);  
}